@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: sfPro;
  src: url(./assets/sf-pro-display-cufonfonts/SFPRODISPLAYBOLD.OTF);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: sfPro;
  src: url(./assets/sf-pro-display-cufonfonts/SFPRODISPLAYMEDIUM.OTF);
  font-weight: normal;
  font-style: normal;
}
